@{
    ViewData["Title"] = "Inicio";
}


<!-- Rocio -->
<!-- Con la clase trxt-align-center se pone el texto en el medio -->
<h2>Propiedades destacadas</h2>
<div class="row">
    @foreach (var inmueble in ViewBag.Inmuebles)
    {
        <div class="card">
            <a asp-controller="DetalleCasa" asp-action="Index">
                <img src="assets/img/at_1.jpg " class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">@inmueble.Titulo</h5>
                <p class="card-text">@inmueble.NumRecamaras, @inmueble.NumBanios, @inmueble.Superficie</p>
                <p class="precio">$@inmueble.Precio</p>
                <span class="badge bg-success">@inmueble.Operacion</span>
            </div>
        </div>
    }
</div>


