@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="d-flex justify-content-g-end" style="margin-top: 20px; margin-left: 1150px; width: 340px;">
    <a class="btn btn-success mb-4" asp-controller="Inmueble" asp-action="Add">Nuevo inmueble</a>
</div>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Operacion</th>
            <th scope="col">Superficie</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var inmueble in ViewBag.Inmuebles)
    {
        <tr>
            <td>@inmueble.Titulo</td>
            <td>@inmueble.Precio</td>
            <td>@inmueble.Descripcion</td>
            <td>@inmueble.Operacion</td>
            <td>@inmueble.Superficie</td>
        </tr>
    }
    </tbody>
</table>

