@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="d-flex justify-content-g-end" style="margin-top: 20px; margin-left: 1150px; width: 340px;">
    <a class="btn btn-success mb-4" asp-controller="Inmueble" asp-action="Add">Nuevo inmueble</a>
</div>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Operación</th>
            <th scope="col">Superficie</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var inmueble in ViewBag.Inmuebles)
    {
        <tr>
            <td>@inmueble.Id</td>
            <td>@inmueble.Titulo</td>
            <td>@inmueble.Precio</td>
            <td>@inmueble.Descripcion</td>
            <td>@inmueble.Operacion</td>
            <td>@inmueble.Superficie</td>
            <td>
                <a asp-controller="Inmueble" asp-action="Edit" asp-route-id="@inmueble.Id" class="btn btn-info">
                    <img src="~/assets/img/logo_modificar.png" alt="" style="width: 25px; height: 30px;">
                </a>
            </td>
            <td>
                <form asp-action="Delete" method="post">
                    <input id="inmuebleId" name="inmuebleId" type="hidden" value="@inmueble.Id"/>
                    <button type="submit" class="btn btn-danger">
                        <img src="~/assets/img/logo_eliminar.png" alt="" style="width: 25px; height: 30px;">
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

